include page/common/root.pug
doctype html
html(lang="en")
  include page/common/head.pug
  body 
    include page/components/navbar.pug
    include page/components/slider.pug
    include page/components/goods.pug
    include page/components/phone.pug
    include page/components/nout.pug
    include page/components/banner-ps.pug
    include page/components/top-sale.pug
    include page/components/footer.pug
    script(src="./js/main.js") 