.banner-ps.container
  .banner-ps__content
    img(src="images/ps5-logo.png", alt="")
    h4 PlayStation 5 Console
    a(href="#!").more WATCH NOW 
  .banner-ps__img: img(src="images/ps5-img.png", alt="")