.banner-xbox.container
  .banner-xbox__content
    h4 Xbox Wireless Controller
    p Textured triggers and bumpers I Hybrid D-pad I Button mapping I Bluetooth
  .banner-xbox__img: img(src="images/xbox2.png", alt="")
  .banner-xbox__btn
    a(href="#!").more ADD TO CART