.vr.container
  //- .vr__img: img(src="images/vr.png", alt="")
  .vr__content
    .vr__img: img(src="images/vr.png", alt="")
    .vr__block
      h4 Plastation VR
      p Over 500 games and experiences and counting. See them all
      .vr__btn
        a(href="#!").more LEARN MORE